<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boolzapp</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    <!-- /Google Font -->

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- /font-awesome -->

    <!-- CDN dayjs -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>

    <!-- vueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- vueJs -->

    <!-- foglio di stile -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- contenitore intera pagina -->
    <div class="page_wrapper">

      <!-- cuore della pagina -->
      <div id="root">
        <!-- blocco di sinistra con gli accounts -->
        <div class="left_side__users">

          <!-- blocco superiore con account e icone -->
          <div class="top_side">
            <!-- blocco account -->
            <div class="account">
              <!-- avatar -->
              <div class="avatar_container">
                <img src="img/user.jpg" alt="user">
              </div>
              <!-- /avatar -->

              <!-- nome -->
              <div class="account_name">
                Alessandro Marega
              </div>
              <!-- /nome -->
            </div>
            <!-- /blocco account -->

            <!-- blocco icone -->
            <div class="icons">
              <ul>
                <li>
                  <a href="#">
                    <i class="fas fa-circle-notch"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-comment-alt"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- /blocco icone -->
          </div>
          <!-- /blocco superiore con account e icone -->

          <!-- blocco notifiche -->
          <div class="notifications">
            <!-- icona -->
            <div class="avatar_container">
              <a href="#">
                <i class="fas fa-bell-slash"></i>
              </a>
            </div>
            <!-- /icona -->

            <!-- testo -->
            <div class="notification_text">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <a href="#">Attiva notifiche desktop</a>
            </div>
            <!-- /testo -->

          </div>
          <!-- /blocco notifiche -->

          <!-- input -->
          <div class="input_container">
            <a @click="check" href="#">
              <i class="fas fa-search"></i>
            </a>
            <input @keyup.13="check" v-model="inputVal" type="text" placeholder="Cerca o inizia una nuova chat">
          </div>
          <!-- /input -->

          <!-- blocco chats -->
          <div class="chats">
            <ul>
              <li @click="active(index), focus(index)" v-for="(item, index) in contacts" :class="{'list_item_color':  contactsIndex == index}">
                <!-- avatar -->
                <div class="avatar_container">
                  <img v-bind:src="`img/avatar${item.avatar}.jpg`" alt="avatar">
                </div>
                <!-- /avatar -->

                <!-- nome -->
                <div class="chat_name">
                  {{item.name}}
                </div>
                <!-- nome -->
              </li>
            </ul>
          </div>
          <!-- /blocco chats -->
        </div>
        <!-- /blocco di sinistra con gli accounts -->

        <!-- blocco di destra con la messaggistica -->
        <div class="right_side__messages">
          <!-- blocco superiore con account e icone -->
          <div class="top_side">
            <!-- blocco account -->
            <div class="account">
              <!-- avatar -->
              <div class="avatar_container">
                <img :src="`img/avatar${contacts[contactsIndex].avatar}.jpg`" alt="avatar">
              </div>
              <!-- /avatar -->

              <!-- nome -->
              <div class="account_name">
                {{contacts[contactsIndex].name}}
                <div class="access">
                  Ultimo accesso oggi alle
                </div>
              </div>
              <!-- /nome -->
            </div>
            <!-- /blocco account -->

            <!-- blocco icone -->
            <div class="icons">
              <ul>
                <li>
                  <a href="#">
                    <i class="fas fa-search"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-paperclip"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- /blocco icone -->
          </div>
          <!-- /blocco superiore con account e icone -->

          <!-- blocco messaggistica -->
          <div  class="messages">
            <div  class="messages_wrapper">
              <!-- riga contenente il messaggio -->
              <div class="message_container">
                <div v-for="item in contacts[contactsIndex].messages" class="message" :class="item.status">
                  {{item.message}}

                  <span class="date_time">
                    {{item.date}}
                  </span>
                </div>
              </div>
              <!-- /riga contenente il messaggio -->
            </div>
          </div>
          <!-- /blocco messaggistica -->

          <!-- input messaggio -->
          <div class="text_input_container">
            <a href="#">
              <i class="far fa-smile"></i>
            </a>
            <input @keyup.enter="addNewMessage()" v-model="newMessageText" type="text" placeholder="Scrivi un messaggio">
            <a href="#">
              <i class="fas fa-microphone"></i>
            </a>
          </div>
          <!-- /input messaggio -->
        </div>
        <!-- /blocco di destra con la messaggistica -->

      </div>
    </div>
    <!-- /contenitore intera pagina -->

  <!-- fogli javascript -->
  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
